/* 
Colours 
*/
:root {
  --primary-cyan: #4bd3b0;
  --primary-blue: #64aaeb;
  --primary-orange: #fe6633;
  --primary-red: #f70201;
  --primary-white: #f8f8f8;
  --primary-grey: #9a9ba1;
  --background-colour: #222222;
  font-family: Avenir, Helvetica, sans-serif;
}

/* 
Fonts  
*/

/* regular */
@font-face {
  font-family: Avenir;
  src: url("./assets/fonts/AvenirLTStd-Book.otf") format("ttf");
  font-weight: normal;
}

/* medium */
@font-face {
  font-family: Avenir;
  src: url("./assets/fonts/AvenirLTStd-Medium.otf") format("ttf");
  font-weight: bold;
}

/* bold */
@font-face {
  font-family: Avenir Bold;
  src: url("./assets/fonts/AvenirLTStd-Roman.otf") format("ttf");
  font-weight: bolder;
}

/* 
Colours 
*/

.cyan {
  color: var(--primary-cyan) !important;
}

.blue {
  color: var(--primary-blue) !important;
}

.orange {
  color: var(--primary-orange) !important;
}

.red {
  color: var(--primary-red) !important;
}

.white {
  color: var(--primary-white) !important;
}

.grey {
  color: var(--primary-grey) !important;
}


/* 
Element modification (browser default ugliness)
*/

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-colour);
  margin: 0;
}

section {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.layout {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}

/* CARD  */

.order-card {
  display: flex;
  margin: 1rem 0rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
}

.order-card-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0 0.8rem 0.8rem 0;
  border-top: 1px solid var(--primary-grey);
  border-right: 1px solid var(--primary-grey);
  border-bottom: 1px solid var(--primary-grey);
}

.order-status {
  width: 25px;
  position: relative;
}

.order-status div.Ready {
  background-color: var(--primary-cyan);
  height: 100%;
  border-radius: 0.75rem 0 0 0.75rem;
}

.order-status div.Coming {
  background-color: var(--primary-blue);
  height: 100%;
  border-radius: 0.75rem 0 0 0.75rem;
}

.order-status div.Queued {
  background-color: var(--primary-orange);
  height: 100%;
  border-radius: 0.75rem 0 0 0.75rem;
}

.order-status div.Out {
  background-color: var(--primary-red);
  height: 100%;
  border-radius: 0.75rem 0 0 0.75rem;
}

.order-img-name-group {
  display:inline-flex;
  align-items: center;
}

.order-img {
  margin: 0rem 1rem;
}

.order-img img {
  border-radius: 0.75rem;
}

.order-product-name {
  color: var(--primary-white);
  font-weight: 750;
  max-width: 100px
}

.order-category {
  color: var(--primary-grey);
  font-weight: 550;
}

.order-category span {
  font-weight: 650;
}

.order-size {
  color: var(--primary-grey);
  font-weight: 550;
}

.order-size span {
  font-weight: 650;
}

.order-colour {
  color: var(--primary-grey);
  font-weight: 550;
}

.order-colour span {
  font-weight: 650;
}

.order-customer-initials {
  color: var(--primary-white);
  font-weight: 550;
  border: 1px solid var(--primary-grey);
  border-radius: 0.75rem;
  padding: 1rem;
}

.order-customer-initials span {
  font-weight: 650;
}