/* 
Colours 
*/
:root {
  --primary-cyan: #4bd3b0;
  --primary-blue: #64aaeb;
  --primary-orange: #fe6633;
  --primary-red: #f70201;
  --primary-white: #f8f8f8;
  --primary-grey: #9a9ba1;
  --background-colour: #222222;
  font-family: Avenir, Helvetica, sans-serif;
}

/* 
Fonts  
*/

/* regular */
@font-face {
  font-family: Avenir;
  src: url("./assets/fonts/AvenirLTStd-Book.otf") format("ttf");
  font-weight: normal;
}

/* medium */
@font-face {
  font-family: Avenir;
  src: url("./assets/fonts/AvenirLTStd-Medium.otf") format("ttf");
  font-weight: bold;
}

/* bold */
@font-face {
  font-family: Avenir Bold;
  src: url("./assets/fonts/AvenirLTStd-Roman.otf") format("ttf");
  font-weight: bolder;
}

/* 
Colours 
*/

.blue {
  color: var(--primary-blue) !important;
}

.black {
  color: var(--primary-black) !important;
}

.lGrey {
  color: var(--primary-lGrey) !important;
}

.white {
  color: var(--primary-white) !important;
}

.red {
  color: var(--secondary-red) !important;
}

.dGrey {
  color: var(--secondary-dGrey) !important;
}

/* 
BG Colours
*/

.bg-blue {
  background-color: var(--primary-blue) !important;
}

.bg-black {
  background-color: var(--primary-black) !important;
}

.bg-lGrey {
  background-color: var(--primary-lGrey) !important;
}

.bg-white {
  background-color: var(--primary-white) !important;
}

.bg-red {
  background-color: var(--secondary-red) !important;
}

.bg-dGrey {
  background-color: var(--secondary-dGrey) !important;
}


/* 
Element modification (browser default ugliness)
*/

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white);
  margin: 0;
}

section {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}